/* General Demo Style */
body{
	font-family: TTNorms,Helvetica Neue,Arial,sans-serif;	
	font-weight: 400;
	font-size: 15px;
	color: #391b27;
	overflow-y: scroll;
	overflow-x: hidden;
}
.w3-content{max-width:980px;margin:auto}.w3-rest{overflow:hidden}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-display-container{
position:relative}
li,a{
	font-size: 18px;
}

.crop {
 height: 600px;
 width: 900px;
 overflow: hidden;
}

.mySlides img {
 height: auto;
 width: 400px;
}
.mySlides a img {
 height: auto;
 width: 400px;
}

.text1 {
  position:absolute;
  right:50px;
  top:70px;
  text-decoration: underline
 }
 h1{
 	margin:0px;
 	padding:20px 20px 10px 20px;
 	font-size:34px;
 	color:#333;
     text-shadow:1px 1px 1px #fff;	
 	font-weight:400;
     position:relative;
     text-align:center;
 }
 h1 span{
     display:block;
 	font-size: 14px;
     font-family: Georgia, serif;
     font-style: italic;
 	color:#b2891b;
 	padding-top:10px;
 }
 .topnav a {
 	height: 100%;
     float: right;    
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 	font-family: TTNorms,Helvetica Neue,Arial,sans-serif;
     font-size: 20px;
 }
 
 /* Change the color of links on hover */
 .topnav a:hover {
 	height: 100%;
     background-color: #ddd;
     color: black;
 }
 
 /* Add a color to the active/current link */
 .topnav a.active {
 	height: 100%;
     background-color: #4CAF50;
     color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    float: right;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}